<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar border navbar-expand-sm  fixed-top bg-primary navbar-dark ">
  <div class="container">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <h1>Annapurna</h1>
  </a>
   <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#banner">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contactus">ContactUs</a>
      </li>    
    </ul>
  </div>
 </div>
</nav>

<div class="pt-5"></div>
<section class="banner bg-primary text-white py-5" id="banner">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-8">
                <div class="pt-5"></div>
                <h3>Your path to a hunger free world</h3>
                <p>If you have leftovers of a wedding or a party and are wondering what to do with it, we'll ensure that it reaches the needy!</p>
                <button type="button"class="btn btn-warning">Login</button>
            </div>
            <div class="col-md-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT0n16wuL9S4HGZaPuu6qz8auEe7WudLC2afTqS2BQZ-IpYIGDN">
            </div>
    
        </div>
    </div>
</section>
</div>

