<!-- <% include partials/header.ejs %>   


<link rel="stylesheet" href="/stylesheets/style.css">

<br> <br>
<p style="text-align:center">Do you have leftovers after a wedding or party? Donate them for a noble cause here!</p>

<br> <br>
<div class="container justify-content-center">
    <div class="buttons justify-content-center">
        <button type="button" class="btn btn-primary">Login As an NGO</button>
        <button type="button" class="btn btn-primary">Login As a User</button>
    </div>
</div>


<% include partials/footer.ejs %> -->

