<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/ngolanding.css">

<div class = "bg">
    <div class = "container">
        <h2 class = "display-2 text-white">Events near you </h2>
       
        <div class="card mt-4">
            <div class="card-body justify-content-centre">
                <h5 class="card-title"> Kansas Banquet Hall</h5>
                <h6 class="card-subtitle mb-2">9:30 - 10:30</h6>
                <div>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a href="#" class="card-link text-white"> Make a phone call</a>
                </div>
                <div>
                    <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    <a href="#" class="card-link text-white">Make a phone call</a>
                </div>
            </div>
        </div>
       
            <div class="card mt-4">
                <div class="card-body justify-content-centre">
                    <h5 class="card-title">Kansas Banquet Hall</h5>
                    <h6 class="card-subtitle mb-2">9:30 - 10:30</h6>
                    <div>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="#" class="card-link text-white">Make a phone call</a>
                    </div>
                    <div>
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <a href="#" class="card-link text-white">Make a phone call</a>
                    </div>
                </div>
            </div>
            
      
        </div>
    </div>
</div>
<% include partials/footer.ejs %>