<% include partials/header.ejs %>

    <br>
    <h4> Here is a list of NGOs near you </h4>
 	<div class="card mt-4">
	  <div class="card-body justify-content-centre">
	    <h5 class="card-title">Goonj</h5>
	    <a href="#" class="card-link">Google Map Location</a>
	    <a href="#" class="card-link">Make a phone call</a>
	  </div>
    </div>
    <div class="card mt-4">
        <div class="card-body justify-content-centre">
            <h5 class="card-title">Childline India</h5>
            <a href="#" class="card-link">Google Map Location</a>
            <a href="#" class="card-link">Make a phone call</a>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body justify-content-centre">
            <h5 class="card-title">Feeding India</h5>
            <a href="#" class="card-link">Google Map Location</a>
            <a href="#" class="card-link">Make a phone call</a>
        </div>
    </div>
	</div>

<% include partials/footer.ejs %>