<% include partials/header.ejs %>

<link rel="stylesheet" type="text/css" href="/stylesheets/login.css">

<div class="container">
	<div class="d-flex justify-content-center h-100">
		
		
		<div class="card">
			<div class="card-header">
				<h3>Register</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>

			<div class="card-body h-100">
				<form action="/ngo/signup" method="POST">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
						<input type="text" class="form-control" placeholder="Name Of The NGO" id="username" name="username">
					</div>
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-envelope"></i></span>
						</div>
						<input type="email" class="form-control" placeholder="Email ID" id="emailId" name="emailId">	
					</div>
					
                    <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name Of POC" id="pocName" name="pocName">
					</div>
					
                    <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="number" class="form-control" placeholder="Mobile No"  id="phoneNo" name="phoneNo">    
					</div>
					
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Password" id="password" name="password">
					</div>
				
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-home"></i></span>
						</div>
						<input type="text" id="autocomplete"  class="form-control" placeholder="Address" />
				
						<script>
							var input = document.getElementById('autocomplete');
							var autocomplete = new google.maps.places.Autocomplete(input, { types: ['(cities)'] });
							google.maps.event.addListener(autocomplete, 'place_changed', function () {
								var place = autocomplete.getPlace();
							})
						</script>
					</div>
					
					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>


	</div>
</div>
<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
</ul>
<% include partials/footer.ejs %>