<html>
    <head>
        <meta charset="utf-8">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <title>annapurna </title>
      </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <h1>Annapurna</h1>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">Contact Us</a>
                    <a class="nav-item nav-link" href="/users/logout">Logout</a>
                </div>
            </div>
        </nav>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/event.css">

<body class="main-body">
    <div>
        <%= user %>
    </div>
    <section id="post-your-event-tabs">
        <div class="container">
            <h1 class="section-title p-5">Post Your Event Details</h1>
            <form class="seminor-login-form ges-location-from">
                <div class="form-group">
                    <label for="event-title">Event Type</label>
                    <input type="text" placeholder="Event Type" class="form-control ges-form-control" required
                        autocomplete="off">
                </div>

                <div class="form-group">
                    <label for="event-start-date">Event Date</label>
                    <input type='text' placeholder="Event Date (MM/DD/YYYY)" class="form-control ges-form-control date"
                        id='datetimepicker1' autocomplete="off" />
                </div>

                <div class="form-group">
                    <label for="event-start-date">Event Time</label>
                    <input type='text' placeholder="Event Time (0000 hours)" class="form-control ges-form-control date"
                        id='datetimepicker2' autocomplete="off" />
                </div>

                <div class="form-group">
                    <label for="venue-location">Venue Address</label>
                    <input type="text" placeholder="Full Address" class="form-control ges-form-control" required
                        autocomplete="off">
                </div>

                <div class="btn-check-log text-center">
                    <!--   <button type="submit" class="btn-check-login">LOGIN</button> -->
                    <button type="submit" class="btn-check-login ripple-effect">NEXT</button>
                </div>
            </form>
        </div>
    </section>
    <section>
        <footer class="bg-seminor-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm d-none d-sm-block">
                        <div class="footer-menu">
                            <ul class="footer-menu-ul">
                                <li><a href="index.html" alt="home">Home</a></li>
                                <li><a href="about-us.html" alt="About Us">About Us</a></li>
                                <li><a href="contact-us.html" alt="Contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="footer-sub-div">
                            <div class="footer-sub">
                                <div id="subscribeMessage" class="m-t-5"></div>
                            </div>
                            <div class="p-1 d-none d-sm-block">
                                <span class="text-white font-weight-bold">Copyright 2020. All Rights Reserved.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>


    <% include partials/footer.ejs %>